/*Padronização da página*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --titulo: 'Bebas Neue';
}

.tittles-style {
    font-size: clamp(2em, 2em + 1vw, 3em);
    font-family: var(--titulo);
    letter-spacing: .2em;
    color: white;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Sans-serif;
    scroll-behavior: smooth;
    list-style: none;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    background-color: rgb(249, 249, 249);
}

body::-webkit-scrollbar-thumb {
    background-color: #282727;
}

/*Imagem principal*/

#background-main-img {
    background-image: url("/imagens/conteudo/capoeiraEvent.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    width: 100vw;
    height: 100vh;
}

/*Barra de navegação*/

#container-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding-left: 1.5%;
    z-index: 10;
}

/*Dá o espaço do tamanho da nav*/

.container-space-nav-corretion {
    width: 100%;
    height: 85px;
}

/*Logo barra de navegação*/

#logo-header {
    height: 80px;
    width: 230px;
}

/*Menu para responsividade*/

.hamburger-menu {
    margin-right: 4%;
    z-index: 1;
    cursor: pointer;
    display: none;
}

.hamburger-menu div {
    width: 32px;
    height: 2px;
    background: rgb(255, 255, 255);
    margin: 8px;
    transition: 0.3s;
}

.side-bar {
    top: 0;
    right: -20rem;
    position: fixed;
    height: 100vh;
    width: 20rem;
    background-color: #000000;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}

.side-bar ul li {
    margin: 4rem 0rem;
}

.show-menu {
    right: 0;
    transition: all 0.4s;
}

.hamburger-transition div:nth-child(1) {
    transform: translate(0, 9px) rotate(-45deg);
    transition: 0.3s;
}

.hamburger-transition div:nth-child(2) {
    opacity: 0;
    transition: 0.3s;
}

.hamburger-transition div:nth-child(3) {
    transform: translate(0, -11px) rotate(45deg);
    transition: 0.3s;
}

@media (max-width: 1200px) {
    .hamburger-menu {
        display: block;
    }

    .side-bar {
        position: fixed;
    }

    #header-nav nav ul li {
        display: none;
    }

    #header-nav {
        display: flex;
        justify-content: space-around;
    }
}

/*Posicionamento da nav*/

#header-nav {
    width: 100%;
    margin-left: 4%;
}

#header-nav a:hover {
    color: rgb(255, 202, 28);
    transition: 0.2s;
}

#header-nav nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

#header-nav li {
    font-size: 18px;
    letter-spacing: 2px;
    white-space: nowrap;
    padding: 2.5%;
}

/*Conteúdo e background*/

.about-us-background-and-content {
    width: 100%;
    height: 90vh;
    background-color: #000000;
    color: white;
    display: flex;
    line-height: 1.6;
    overflow: hidden;
}

.about-us-background-and-content h2 {
    margin-bottom: 10%;
    white-space: nowrap;
}

.about-us-background-and-content p {
    font-size: calc(1.5em)
}

#about-us-text {
    max-width: 45%;
    margin: 3% 2% 0% 4%;
}

#about-us-image {
    height: 100%;
}

/*INICIO DE PROJETOS*/
.support-container {
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.696);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0px 5px 20px black;
}

.support-container h3 {
    margin: 2%;
    font-size: 1.5em;
    text-align: center;
}

.support-container p {
    font-size: 0.8rem;
    visibility: hidden;
    text-align: center;
    margin: 2%;
}

.sub-titulo {
    width: 100%;
    font-family: var(--titulo);
    letter-spacing: .2em;
    color: white;
    font-size: 150%;
    text-align: center;
    margin: 30px 0px 0px 0px;
    text-shadow: 0.1em 0.1em 0.2em black
}

.lista-projetos {
    margin-top: 5%
    

}

.linha-projetos {
    display: flex;
    justify-content: center;
    margin: 1% 1%;

}

.item-projetos {
    width: 20vw;
    color: white;
    margin: 2.3% 2%;
    box-shadow: 10px 10px 20px black;
    box-sizing: border-box;
    border-radius: 5%;
    position: relative;
    overflow: hidden;
}

.item-projetos img {
    width: 100%;
    border-radius: 5%;
    box-sizing: border-box;
}

.sub-card {
    height: 14vh;
    width: 20vw;
    position: absolute;
    bottom: 0%;
    background: rgb(0, 0, 0);
    transition: .5s;
    box-shadow: 0px 5px 20px black;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
}
.inscrevase {
    width: 8vw;
    margin-top: 4%;
    font-size: 100%;
    text-align: center;
    border: solid 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: relative;
    bottom: 1%;

}
.inscrevase a {
    padding: 1%;
}

.item-projetos:hover {
    cursor: pointer;
}

.item-projetos:hover .sub-card {
    height: 28vh;
    bottom: 0%;
    background: black;
    position: absolute;
}

.item-projetos:hover p {
    visibility: visible;
}

@keyframes anim {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

.item-projetos:hover .inscrevase {
    animation-name: anim;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@media (max-width: 500px) {
    .linha-projetos {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .item-projetos{
        width: 50vw;
    }
    .sub-card{
        height: 15vh;
        width: 50vw;

    }
    .item-projetos:hover .sub-card {
        height: 28vh;
    }
    .inscrevase {
        width: 100%;
    }
}


/*FIM DE PROJETOS*/

.schedule-background-and-content {
    width: 100%;
    height: 110vh;
    background-color: rgb(57, 57, 51);
    padding-top: 3%;
}

.programing-title {
    font-family: var(--titulo);
    margin-left: 4%;
}

.container-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2% 4%;
    background-color: rgb(95, 92, 81);
    border-radius: 6px;
    height: 80%;
}

.card {
    position: relative;
    width: 23%;
    height: fit-content;
    transition: 0.4s ease-in-out;
    transform: 0.1s ease-in-out;
    border-radius: 7px;
}

.card img {
    width: 100%;
    border-radius: 7px;
    box-shadow: 12px 10px 15px rgba(0, 0, 0, 0.769);
}

.card:hover {
    opacity: 0.8;
    transform: scale(.95);
    filter: brightness(50%);

}

@media (max-width: 500px) {

    .schedule-background-and-content {
        height: fit-content;
    }

    .container-card {
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 50%;
    }
}

/*Rodapé*/
/*Barra de medias*/

.background-footer-color {
    background-color: #232323;
}

footer {
    color: rgb(221, 221, 221);
}

#background-line-fale-conosco {
    width: 100%;
    padding: 0.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2b2b;
}

#background-line-fale-conosco a {
    margin: 0% 2%;
}

.social-media-icons {
    width: 25px;
    height: 25px;
}

/*Informações para contato*/

#container-footer {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container-footer h3 {
    margin-bottom: 4px;
}

#container-footer p {
    font-weight: 600;
}

#corretion-spacement-tel-footer {
    margin: 5% 0%;
}

.img-and-title-footer {
    display: flex;
    flex-direction: row;
}

.icons-footer-resize {
    width: 15px;
    height: 15px;
    margin: 3px 8px 0px 0px;
}

.partnership-logo-resize {
    height: 90px;
    width: 185px;
}

#easter-egg {
    cursor: auto;
}

#corretion-spacement-adress-footer {
    line-height: 1.4;
}

#sub-footer {
    width: 100%;
    padding: 1vh;
    display: flex;
    justify-content: center;
}