/*Padronização da página*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --titulo: 'Bebas Neue';
}

.tittles-style {
    font-size: 3.3em;
    font-family: var(--titulo);
    letter-spacing: .2em;
    color: white;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Sans-serif;
    scroll-behavior: smooth;
    list-style: none;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

body {
    min-width: 1100px;
    overflow-x: hidden;
}

/*Imagem principal*/

#background-main-img {
    background-image: url("/imagens/conteudo/capoeiraEvent.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 956px;
}

/*Barra de navegação*/

#container-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding-left: 1.5%;
    z-index: 10;
}

/*Dá o espaço do tamanho da nav*/

.container-space-nav-corretion {
    width: 100%;
    height: 85px;
}

/*Logo barra de navegação*/

#logo-header {
    height: 80px;
    width: 230px;
}

/*Menu para responsividade*/

.hamburger-menu {
    margin-right: 4%;
    z-index: 1;
    cursor: pointer;
    display: none;
}

.hamburger-menu div {
    width: 32px;
    height: 2px;
    background: rgb(255, 255, 255);
    margin: 8px;
    transition: 0.3s;
}

.side-bar {
    top: 0;
    right: -20rem;
    position: fixed;
    height: 100vh;
    width: 20rem;
    background-color: #000000;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}

.side-bar ul li {
    margin: 4rem 0rem;
}

.show-menu {
    right: 0;
    transition: all 0.4s;
}

.hamburger-transition div:nth-child(1) {
    transform: translate(0, 9px) rotate(-45deg);
    transition: 0.3s;
}

.hamburger-transition div:nth-child(2) {
    opacity: 0;
    transition: 0.3s;
}

.hamburger-transition div:nth-child(3) {
    transform: translate(0, -11px) rotate(45deg);
    transition: 0.3s;
}

@media (max-width: 1200px) {
    .hamburger-menu {
        display: block;
    }

    .side-bar {
        position: fixed;
    }

    #header-nav nav ul li{
        display: none;
    }

    #header-nav {
        display: flex;
        justify-content: space-around;
    }
}

/*Posicionamento da nav*/

#header-nav {
    width: 100%;
    margin-left: 4%;
}

#header-nav a:hover {
    color: rgb(255, 202, 28);
    transition: 0.2s;
}

#header-nav nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

#header-nav li {
    font-size: 18px;
    letter-spacing: 2px;
    white-space: nowrap;
    padding: 2.5%;
}

/*Conteúdo e background*/

.about-us-background-and-content {
    width: 100%;
    height: 750px;
    background-color: #000000;
    color: white;
    display: flex;
    line-height: 1.6;
}

.about-us-background-and-content h2 {
    margin-bottom: 10%;
}

.about-us-background-and-content p {
    font-size: 1.5em;
}

#about-us-text {
    max-width: 40%;
    margin: 3% 2% 0% 4%;
}

#about-us-image {
    height: 100%;
}

#about-us-image img {
    object-fit: cover;
    height: 100%;
    width: 118%;
    margin-left: 20%;
}

/*Inicio de projetos*/

.projects-background-and-content {
    width: 100%;
    padding: 140px;
    background-image: linear-gradient(to bottom,
            rgb(44, 159, 226), rgb(51, 108, 231));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lista-projetos {
    text-align: center;
    color: white;
}

.projects-background-and-content p{
    font-size: 0.8rem;
    visibility: hidden;
}

.linha-projetos {
    display: flex;
    justify-content: center;
}

.item-projetos {
    width: 300px;
    margin: 30px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.769);
    border-radius: 20px;
    position: relative;
    flex: 1 1 150px;
}

.item-projetos img{
    width: 100%;
    border-radius: 20px;
}

.intro {
    height: 75px;
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: 0;
    background: slategray;
    transition: .5s;
    border-radius: 20px;
}

.item-projetos:hover .intro{
    height: 180px;
    background: black;
    position: absolute;
}

.item-projetos:hover p{
    visibility: visible;
}

/*INICIO DE PROGRAMAÇÃO*/

.schedule-background-and-content {
    width: 100%;
    height: 1000px;
    background-color: rgb(36, 35, 35);
    padding-top: 3%;
}

.programing-title{
    font-family: var(--titulo);
    margin-left: 4%;
}

.container-card {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin: 2% 4%;
    background-color: rgb(95, 92, 81);
    padding: 40px;
    border-radius: 6px;
}

.card {
    position: relative; 
    width: 370px; 
    height: 570px;
    box-shadow: 12px 10px 15px rgba(0, 0, 0, 0.769);
    transition: 0.4s ease-in-out; 
    transform: 0.1s ease-in-out;
    border-radius: 7px;
}

.card img {
    position: absolute;
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 7px;
}

.card:hover {
    opacity: 0.8;
    transform: scale(.95);
    filter: brightness(50%);
}

/*Rodapé*/
/*Barra de medias*/

.background-footer-color {
    background-color: #232323;
}

footer {
    color: rgb(221, 221, 221);
}

#background-line-fale-conosco {
    width: 100%;
    padding: 0.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2b2b;
}

#background-line-fale-conosco a {
    margin: 0% 2%;
}

.social-media-icons {
    width: 30px;
    height: 30px;
}

/*Informações para contato*/

#container-footer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container-footer h3 {
    margin-bottom: 4px;
}

#container-footer p {
    font-weight: 600;
}

#corretion-spacement-tel-footer {
    margin: 5% 0%;
}

.img-and-title-footer {
    display: flex;
    flex-direction: row;
}

.icons-footer-resize {
    width: 18px;
    height: 18px;
    margin: 3px 8px 0px 0px;
}

.partnership-logo-resize {
    height: 90px;
    width: 185px;
}

#easter-egg {
    cursor: auto;
}

#corretion-spacement-adress-footer {
    line-height: 1.4;
}

#sub-footer {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}