@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --titulo: 'Bebas Neue';
}

.titles-style {
    font-family: var(--titulo);
    letter-spacing: 0.1em;
    color: white;
}

* {
    margin: 0%;
    padding: 0%;
}

#container-header {
    position: fixed;
    background-color: rgb(0, 0, 0);
    padding-left: 1%;
    z-index: 1;
}

.container-space-nav-corretion {
    top: 0;
    height: 85px;
    width: 100%;
}

#logo-header {
    height: 80px;
    width: 230px;
    margin-top: 3px;
}

.container-volunteer-work{
    display: flex;
    width: 100%;
    height: 120vh;
    justify-content: center;

}

.container-card{
    border-radius: 20px;
    margin-top: 4%;
    width: 60vw;
    height: 100vh;
    background-color: darkorange;

}


.volunteer-work-title{
    margin-left: 5%;
    padding-top: 8%;
    font-size: 1.5rem;
 
    
}

.volunteer-work-text {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 7%;
    font-size: 1.2rem;
   
}

.container-card-donations{
    border-radius: 20px;
    width: 30%;
    height: 40%;
    background-color: darkorange;
    display: flex;
    flex-direction: column;
    left: 30%;

}
.donations-work-title{ /*Titulo Doacões*/
    text-align: center;
    padding-top: 8%;
    font-size: 1.5rem; 
}
.donations-work-text { /*primeira parte de texto doações*/
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 7%;
    font-size: 1.2rem;
    text-align: center;
}
.donations-work-text2 { /*Segunda parte de texto doações*/
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 7%;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}
.qrcode{
    margin-top: 5%;
    position: relative;
    left: 27%;
    width: 40%;
    height: 40%;
}
.qrcode img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
}