/*Padronização da página*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Sans-serif;
    scroll-behavior: smooth;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

/*Imagem principal*/

#background-main-img {
    background-image: url('/imagens/associacaoMembros.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 956px;
}

/*Barra de navegação*/

#container-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

/*Dá o espaço do tamanho da nav*/

.container-space-nav-corretion {
    width: 100%;
    height: 90px;
}

/*Logo barra de navegação*/


#logo-header {
    margin: 0% 4%;
    height: 90px;
    width: 230px;
}

/*Menu para responsividade*/

.mobile-menu {
    margin: 0% 4%;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: rgb(255, 255, 255);
    margin: 8px;
}

/*Posicionamento da nav*/

#header-nav {
    margin-left: 10%;
    width: 100%;
}

#header-nav a:hover {
    color: rgb(59, 47, 8);
    transition: 0.2s;
}

#header-nav nav ul {
    list-style: none;
    display: flex;
}

#header-nav li {
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    white-space: nowrap;
    margin: 0% 2.5%;
}

/*Posiciona o título da associação*/


#association-name-style {
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: #000;
}

#association-first-name {
    width: fit-content;
    color: white;
    margin: 17.5% 0% 0% 8%;
    background-color: rgb(252, 211, 30);
    border-radius: 12px;
    box-shadow: 7px 12px 5px 0px rgba(0, 0, 0, 0.777);
    font-size: 30px;
    padding: 15px;
}

#association-second-name {
    width: fit-content;
    color: white;
    margin: 1.8% 0% 0% 16%;
    background-color: rgb(252, 211, 30);
    border-radius: 12px;
    box-shadow: 7px 12px 5px 0px rgba(0, 0, 0, 0.706);
    font-size: 50px;
    padding: 15px;
}

/*Conteúdo e background*/
/*orange*/

.background-and-content-cyan {
    width: 100%;
    height: 650px;
    background-image: linear-gradient(to bottom,
    rgb(227, 99, 13), rgb(204, 90, 14));
    display: flex;
    align-items:center;
    line-height: 1.6;
}

.background-and-content-cyan h2 {
    color: black;
    font-size: 30px;
    font-family: Sans-serif, Arial;
}   



.background-and-content-cyan p {
    color: black;
    font-size: 20px;
    font-family: Sans-serif, Arial;
    font-weight: 400;
}

#about-us-image {
    width: 600px;
    margin-right: 6%;
    height: fit-content;
    width: fit-content;
}

#about-us-text {
    margin: 4%;
}

.support-container {
    width: 100%;
    height: 150px;
    background-color: rgb(242, 154, 53);
}

/*yellow*/

.background-and-content-gray {
    width: 100%;
    height: 800px;
    background-image: linear-gradient(to bottom,
    rgb(238, 151, 51), rgb(221,102,11));
}

@media (max-width: 400px) {
    #association-first-name {
        width: fit-content;
        color: white;
        font-family: sans-serif;
        margin: 22% 0% 0% 10%;
        background-color: rgba(255, 204, 35, 0.969);
        border-radius: 12px;
        font-size: 10px;
        padding: 8px;
    }

    #association-second-name {
        width: fit-content;
        color: white;
        font-family: sans-serif;
        margin: 2% 0% 0% 15%;
        background-color: rgba(255, 204, 35, 0.967);
        border-radius: 12px;
        font-size: 10px;
        padding: 8px;
    }
}

/*Rodapé*/

/*Barra de medias*/
#background-line-fale-conosco {
    width: 100%;
    height: fit-content;
    padding: 0.4%;
    background-color: rgb(238, 194, 17);
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-line-fale-conosco a{
    margin: 0% 2%;
}

.social-media-icons {
    width: 35px;
    height: 35px;
}

/*Informações para contato*/
#container-footer {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to bottom,
    rgb(239, 196, 24), rgb(215,106,3));
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#container-footer h3 {
    margin-bottom: 3%;
}

#container-footer p {
    font-weight: 600;
}

#corretion-spacement-tel-footer {
    margin: 5% 0%;
}

.img-and-title-footer {
    display: flex;
    flex-direction: row;
}

.icons-footer-resize {
    width: 20px;
    height: 20px;
    margin-right: 0.4rem;
}

#corretion-spacement-adress-footer {
    line-height: 1.3;
}

